---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import logo from '../../public/static/logo.png'
---

<Layout>
  <PageHead slot="head" title="About" />
  <div class="container mx-auto flex flex-col gap-y-6 px-4 sm:px-6 lg:px-8">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">
          <Image src={logo} alt="Logo" class="size-12 float-left mr-4 rounded-sm" />
          About Me
        </h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Hey, I'm <b>tlsbollei</b>. I currently work as a Red Teamer at
          <Link href="https://fortinet.com" external>Fortinet</Link>, and at the age of 16,
          I'm pursuing secondary education at
          <Link href="https://gymholl.edupage.org" external>Gymnazium Jana Holleho</Link>.
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          As far as CTFs go, I represent my country, Slovakia, and consistently play with them as part of
          <Link href="https://ctftime.org/team/197247/" external>Slovak Cyber Team</Link>. Professionally,
          I work as a Red Teamer, and I conduct persistent assessments on digital infrastructures,
          focusing on the Active Directory structure and the Windows environment.
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Outside of that, I develop custom malware loaders, deep-dive into Windows internals, and my main
          focus lies in enterprise EDR evasion. More about me and my achievements, right
          <Link href="https://tlsbollei.vercel.app/about" external>here</Link>.
        </p>
      </div>
    </section>
  </div>
</Layout>
